.container {
    margin: 1em auto;  	
    width: 940px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

* {  	
	margin: 0;  	
    padding: 0;  	
    font-family: Calibri, sans-serif;
    box-sizing: border-box;
} 

footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    margin-top: 10px;
}

.navigation {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: -1.7%;
}

ul {
    margin-top: -4.2%;
    margin-left: 64%;
}

ul li {
    display: inline-flex;
    list-style-type: none;
    font-size: 1.7rem;
    padding-left: 3%;
}